.header
{
height:300px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:#FF9999;
}
.h1
{
height:250px;
width:990px;
background-color:#FF9999;
}
.logo
{
height:250px;
width:250px;
float:left;
}
.name
{
height:250px;
width:740px;
}
.main
{
position:relative;
top:100px;
left:200px;
font-size:36px;
}
.menu
{
height:50px;
width:990px;
background-color:#FFFF66;
}
.menu ul li
{
display:inline;
padding:50px;
}
.menu ul li a
{
text-decoration:none;
}
.footer
{
height:50px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:#FF9999;
}
.main
{
position:relative;
top:100px;
left:200px;
font-size:36px;
}
.home
{
height:500px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:#66CCCC;
}
.image
{
height:350px;
width:490px;
float:left;
}
.body
{
height:300px;
width:490px;
float:right;
}
.about
{
height:500px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:#3366FF;
}
.image1
{
height:350px;
width:490px;
float:right;
}
.body1
{
height:300px;
width:490px;
float:left;
}
.books
{
height:500px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:#99CCFF;
}
.image2
{
height:250px;
width:490px;
float:left;
}
.image3
{
height:250px;
width:490px;
float:right;
}
.body2
{
height:250px;
width:990px;
}
.contact
{
height:500px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:#FF99CC;
}
.map
{
height:250px;
width:990px;
}
.contact1
{
height:250px;
width:990px;
}
.borrow
{
height:500px;
width:990px;
margin-left:auto;
margin-right:auto;
}